<nav class="navbar-container">
    <h2>Crud App</h2>
    <ul>
        <li><a href="/authentication/signup" class="link">Sign up</a></li>
        <li><a href="/authentication/login" class="link">Log in</a></li>
        <li><a href="/all-snippets" class="link">snippets</a></li>
    </ul>
</nav>