<nav class="navbar-container">
    <h2 class="fw-bold">Crud App</h2>
    <ul>
        {{#if viewData.showLogin}}
            {{#if viewData.isAuth}}
                
                <li>
                    <form id="form" method="post" action="/authentication/logout">
                        <button class="btn btn-danger btn-sm">Log out</button>
                    </form>
                </li>  
                {{else}}
                    <li><a href="/authentication/login" class="btn btn-success btn-sm">Log in</a></li>
                
                    
            {{/if}}
        {{/if}}
            <li><a href="/snippets/all-snippets" class="btn btn-primary btn-sm">Snippets</a></li>
    </ul>
</nav>