
<div class="form-container">
<h3>sign up</h3>
<form action="/authentication/signup" method="post">
    <div class="" id="username">
        <label for="username">username</label>
        <input type="text" name="username" id="username" placeholder="Enter username">
    </div>
    <div id="passw">
        <label for="password">password</label>
        <input type="password" name="password" id="password" placeholder="Enter password">
    </div>
    <input type="submit" class="btn btn-primary" value="Register">
</form>
</div>