
<div class="container">
    <h3 class="text-start display-5 fw-bold text-muted text-md-center">Sign up</h3>   
    <form action="/authentication/signup" method="post">
        <div class="row justify-content-center mb-3">
            <div class="col-10 col-md-6">
                    <label for="username" class="form-label mx-3">Username</label>
                    <input type="text" class="form-control w-50" name="username" id="username" placeholder="Enter username">
                    <label for="password" class="form-label mx-3">Password</label>
                    <input type="password" class="form-control w-50" name="password" id="password" placeholder="Enter password">
            </div>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col col-md-8">
                <div class="row justify-content-center">
                    <div class="col-6 col-md-4">
                        <input type="submit" class="btn btn-primary col-4" value="Register">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>