<div class="container">
    <div class="alert alert-warning">
        <p class="text-center">You are not allowed to modify someone else's snippets</p>
    </div>
    <div class="row justify-content-center">
        <img src="/img/403.png" alt="403 error page" width="500" height="500" class="w-75">
        <a href="https://storyset.com/user" class="text-center">User illustrations by Storyset</a>
    </div>
    
</div>
