
<div class="error-container">
    <img src="/img/404.jpg" alt="page-not-found" width="500" height="500">
    <div>
        <a href="https://www.freepik.com/vectors/404-page">404 page vector created by pikisuperstar - www.freepik.com</a>
    </div>
</div>

