<div class="container">
    <form action="/snippets/create-snippet" method="POST">
        <div class="form-outline my-4">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" name="title" id="title" required="required"/>
            
        </div>
        
        <div class="form-outline mb-4">
            <label for="snippet-content" class="form-label">Content</label>
            <textarea name="content" class="form-control" rows="10" id="snippet-content" cols="300" rows="20" placeholder="Type your code here" spellcheck="true" required></textarea>
        </div>
        <input type="submit" class="btn btn-primary" value="Create">
    </form>
</div>
