<div class="container">
    <div class="my-4">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" value="{{viewData.title}}" readonly disabled/>
    </div>
    <div class="mb-4">
        <label for="snippet-content" class="form-label">Content</label>
        <textarea name="Snippet-content" class="form-control" id="snippet-content" rows="10"  readonly disabled>{{viewData.content}}</textarea>
    </div>
</div>

