<label for="title">Title</label>
<label for="title">{{viewData.title}}</label>
<label for="snippet-content">Content</label>
<textarea name="Snippet-content" id="snippet-content" cols="300" rows="20"  readonly>{{viewData.content}}</textarea>